USE [DemoExamTaskDB]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[MaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[MaterialTypeId] [int] NOT NULL,
	[CountInPack] [int] NOT NULL,
	[UnitOfMeasureId] [int] NOT NULL,
	[CountInStorage] [int] NOT NULL,
	[MinimalCount] [int] NOT NULL,
	[Price] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_Material] PRIMARY KEY CLUSTERED 
(
	[MaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialType]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialType](
	[MaterialTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_MaterialType] PRIMARY KEY CLUSTERED 
(
	[MaterialTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Article] [int] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[MinimalAgentPrice] [decimal](12, 2) NOT NULL,
	[Image] [varchar](50) NOT NULL,
	[ProductTypeId] [int] NOT NULL,
	[PeopleCountToCreate] [int] NOT NULL,
	[FactoryNumber] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductMaterial]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductMaterial](
	[ProductMaterialId] [int] IDENTITY(1,1) NOT NULL,
	[Article] [int] NOT NULL,
	[MaterialId] [int] NOT NULL,
	[MaterialCount] [int] NOT NULL,
 CONSTRAINT [PK_ProductMaterial] PRIMARY KEY CLUSTERED 
(
	[ProductMaterialId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[ProductTypeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[ProductTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 26.02.2024 16:21:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](10) NOT NULL,
 CONSTRAINT [PK_UnitOfMeasure] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material] ON 

INSERT [dbo].[Material] ([MaterialId], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStorage], [MinimalCount], [Price]) VALUES (1, N'Спрессованный материал серый 0x2', 1, 5, 1, 140, 49, CAST(3312800.00 AS Decimal(12, 2)))
INSERT [dbo].[Material] ([MaterialId], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStorage], [MinimalCount], [Price]) VALUES (2, N'Рулон бумаги зеленый 1x1', 2, 3, 1, 634, 36, CAST(26841.00 AS Decimal(12, 2)))
INSERT [dbo].[Material] ([MaterialId], [Name], [MaterialTypeId], [CountInPack], [UnitOfMeasureId], [CountInStorage], [MinimalCount], [Price]) VALUES (3, N'Спрессованный материал розовый 2x1', 1, 8, 1, 636, 21, CAST(52606.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Material] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialType] ON 

INSERT [dbo].[MaterialType] ([MaterialTypeId], [Name]) VALUES (1, N' Пресс')
INSERT [dbo].[MaterialType] ([MaterialTypeId], [Name]) VALUES (2, N' Рулон')
INSERT [dbo].[MaterialType] ([MaterialTypeId], [Name]) VALUES (3, N' Гранулы')
SET IDENTITY_INSERT [dbo].[MaterialType] OFF
GO
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentPrice], [Image], [ProductTypeId], [PeopleCountToCreate], [FactoryNumber]) VALUES (238686, N'Полотенце 27М Дыня', CAST(7864.00 AS Decimal(12, 2)), N'', 2, 2, 2)
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentPrice], [Image], [ProductTypeId], [PeopleCountToCreate], [FactoryNumber]) VALUES (239349, N'Полотенце 41М Дыня', CAST(6238.00 AS Decimal(12, 2)), N'', 3, 2, 9)
INSERT [dbo].[Product] ([Article], [Name], [MinimalAgentPrice], [Image], [ProductTypeId], [PeopleCountToCreate], [FactoryNumber]) VALUES (240580, N'Набор 8М Дыня', CAST(7465.00 AS Decimal(12, 2)), N'', 5, 5, 2)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] ON 

INSERT [dbo].[ProductMaterial] ([ProductMaterialId], [Article], [MaterialId], [MaterialCount]) VALUES (1, 252485, 24, 20)
INSERT [dbo].[ProductMaterial] ([ProductMaterialId], [Article], [MaterialId], [MaterialCount]) VALUES (2, 275591, 6, 1)
INSERT [dbo].[ProductMaterial] ([ProductMaterialId], [Article], [MaterialId], [MaterialCount]) VALUES (3, 400484, 6, 4)
GO
SET IDENTITY_INSERT [dbo].[ProductMaterial] OFF
GO
SET IDENTITY_INSERT [dbo].[ProductType] ON 

INSERT [dbo].[ProductType] ([ProductTypeId], [Name]) VALUES (1, N'Три слоя')
INSERT [dbo].[ProductType] ([ProductTypeId], [Name]) VALUES (2, N'Два слоя')
INSERT [dbo].[ProductType] ([ProductTypeId], [Name]) VALUES (3, N'Детская')
SET IDENTITY_INSERT [dbo].[ProductType] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] ON 

INSERT [dbo].[UnitOfMeasure] ([UnitId], [Name]) VALUES (1, N' м')
INSERT [dbo].[UnitOfMeasure] ([UnitId], [Name]) VALUES (2, N' л')
INSERT [dbo].[UnitOfMeasure] ([UnitId], [Name]) VALUES (3, N' кг')
SET IDENTITY_INSERT [dbo].[UnitOfMeasure] OFF
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_MaterialType] FOREIGN KEY([MaterialTypeId])
REFERENCES [dbo].[MaterialType] ([MaterialTypeId])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_MaterialType]
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD  CONSTRAINT [FK_Material_UnitOfMeasure] FOREIGN KEY([UnitOfMeasureId])
REFERENCES [dbo].[UnitOfMeasure] ([UnitId])
GO
ALTER TABLE [dbo].[Material] CHECK CONSTRAINT [FK_Material_UnitOfMeasure]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ProductType] FOREIGN KEY([ProductTypeId])
REFERENCES [dbo].[ProductType] ([ProductTypeId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ProductType]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Material] FOREIGN KEY([MaterialId])
REFERENCES [dbo].[Material] ([MaterialId])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Material]
GO
ALTER TABLE [dbo].[ProductMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductMaterial_Product] FOREIGN KEY([Article])
REFERENCES [dbo].[Product] ([Article])
GO
ALTER TABLE [dbo].[ProductMaterial] CHECK CONSTRAINT [FK_ProductMaterial_Product]
GO
